@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
body {
    font-family: 'Barlow Condensed';
    font-weight: bold;
    font-size: 1.2em;
}
img{
    width: 100px;
    height: 100px;
    margin: -10px;
}
.navbar{
    background-color: #D5E8FC;
}
.navbar-brand{
    padding: 0;
    font-size: 1.7em;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar,
.nav-link{
    /* don't forget to add all the previously mentioned styles here too */
    background: #D5E8FC;
    color: #000;
    transition: all 0.3s;
}

#sidebar ul.components {
    padding: 0 0 20px 0;
    border-bottom: 1px solid #D5E8FC;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul div a:hover, #sidebar ul div.active>a,
a[aria-expanded="true"] {
    color: #FFF;
    background: #88a0bd;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #D5E8FC;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}
a[data-bs-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.nav-pills .nav-link.active,
.nav-pills .nav-link:hover{
    background-color: #88a0bd;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

/* Artem CSS */

.colors-container, .table {
    max-width: 800px;
    min-width: 650px;
}

.circleFigure{
    margin-top: 3%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.highlight {
    font-size: 1rem;
    width: 600px;
    height: 170px;
}

.container-grid {
    margin-top: 3%;
    background: #477CB2 ;
    width: 800px;
    border:#106184 solid 8px;
}

.col-border {
    border-right:#106184 solid 2px;
}


/*FONTS*/
.desc {
    font-family: 'Barlow Condensed';
    opacity: 0.5;
    font-size: 0.8rem;
    text-align: center;
}

.textHeading1 {
    font-family: 'Ms Madi';
    font-size: 60px;
    font-weight: bold;
}

.textHeading2 {
    font-size: 40px;
    font-family: 'Barlow Condensed';
    opacity: 0.5;
}

.textBody {
    font-size: 20px;
    font-family: 'Barlow Condensed';
    opacity: 0.5;
}

.textBodyBold {
    font-size: 20px;
    font-family: 'Barlow Condensed';
    font-weight: bold;
}

.textChart {
    font-size: 20px;
    font-family: 'Markazi Text', serif;
    font-weight: normal;
}

.textMenu {
    font-family: 'Ms Madi';
    font-size: 40px;
    font-weight: bold;
    opacity: 0.5;
    
}

.colDesc {
    margin-top: 6%;
    line-height: 0.9;
}


/*COLORS*/
.colorCanJetRed {
    background: #ED1C24;
}

.colorOrange {
    background: #EC9A29;
}

.colorSteelBlue {
    background: #477CB2;
}

.colorMaroon {
    background: #821214;
}

.colorSapphire {
    background: #106184;
}

.colorGoldenBrown {
    background: #A76A23;
}

.colorPalePink {
    background: #FBDADC;
}

.colorBeauBlue {
    background: #D5E8FC;
}

.colorCultured {
    background: #F2F2F4;
}

.colorBlack {
    background: #000000;
}

.colorGrey {
    background: #707070;
}

.colorWhite {
    border: solid 0.1px black;
    opacity: 0.2;
    background: #FFFFFF;
}


/*END COLORS*/




/* Artem CSS ends*/

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}