body {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 1.4em;
}
img{
    width: 110px;
    height: 110px;
    margin: -10px;
}
.navbar{
    background-color: #D5E8FC;
    height: 120px;
}
.navbar-light .navbar-brand {
    font-size: 1.7em;
    color: #d73038;
}
.hidden{
    display: none;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
#sidebar,
.nav-link{
    /* don't forget to add all the previously mentioned styles here too */
    background: #D5E8FC;
    color: #000;
    transition: all 0.3s;
}
#sidebar ul.components {
    padding: 0 0 20px 0;
    border-bottom: 1px solid #D5E8FC;
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul div a:hover, #sidebar ul div.active>a,
a[aria-expanded="true"] {
    color: #FFF;
    background: #477cb2;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #D5E8FC;
}
.row{
    --bs-gutter-x: 0;
}
.wrapper {
    display: flex;
    align-items: stretch;
}
.btn-clipboard{
    font-family: 'Barlow Condensed', serif;
}
#sidebar {
    min-width: 250px;
    /* max-width: 250px; */
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
    /* display: none; */
}
a[data-bs-toggle="collapse"] {
    position: relative;
}
.list-unstyled{
    font-size: 1.2em;
    letter-spacing: 2px;
    text-align: center;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.nav-pills .nav-link.active,
.nav-pills .nav-link:hover,
.nav-link:hover{
    background-color: #477cb2;
    color: #fff;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.bd-lead, 
.bd-example, 
.intro{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    text-indent: 2%;
}

.bd-clipboard {
    position: relative;
    display: block;
    float: right;
}

.btn-clipboard {
    position: absolute;
    top: 0.65rem;
    right: 0.65rem;
    z-index: 10;
    display: block;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}

.btn-clipboard:hover,
.list-group-item.li-active{
    background-color: #477cb2;
    color: #fff;
}
.code-container {
    background: #282c34;
    color: #fff;
}

.chroma .na {
    color: #cf9700;
}

.chroma .nt {
    color: #d73038;
}

.chroma .s {
    color:#54d200 ;
}

/* Artem CSS */

.colors-container,
.table {
    max-width: 800px;
    min-width: 650px;
}

.circleFigure {
    margin-top: 3%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.container-grid {
    margin-top: 3%;
    background: #477CB2;
    width: 800px;
    border: #106184 solid 8px;
}

.col-border {
    border-right: #106184 solid 2px;
}


/*FONTS*/
.desc {
    font-family: 'Barlow Condensed';
    opacity: 0.5;
    font-size: 0.8rem;
    text-align: center;
}

.textHeading1 {
    font-size: 60px;
    font-weight: bold;
}

.textHeading2 {
    font-size: 40px;
    font-family: 'Barlow Condensed';
    opacity: 0.5;
}

.textBody {
    font-size: 20px;
    font-family: 'Barlow Condensed';
    opacity: 0.5;
}

.textBodyBold {
    font-size: 20px;
    font-family: 'Barlow Condensed';
    font-weight: bold;
}

.textChart {
    font-size: 20px;
    font-family: 'Markazi Text', serif;
    font-weight: normal;
}

.textMenu {
    font-family: 'Ms Madi';
    font-size: 40px;
    font-weight: bold;
    opacity: 0.5;

}

.colDesc {
    margin-top: 6%;
    line-height: 0.9;
}


/*COLORS*/
.colorCanJetRed {
    background: #ED1C24;
}

.colorOrange {
    background: #EC9A29;
}

.colorSteelBlue {
    background: #477CB2;
}

.colorMaroon {
    background: #821214;
}

.colorSapphire {
    background: #106184;
}

.colorGoldenBrown {
    background: #A76A23;
}

.colorPalePink {
    background: #FBDADC;
}

.colorBeauBlue {
    background: #D5E8FC;
}

.colorCultured {
    background: #F2F2F4;
}

.colorBlack {
    background: #000000;
}

.colorGrey {
    background: #707070;
}

.colorWhite {
    border: solid 0.1px black;
    opacity: 0.2;
    background: #FFFFFF;
}

@media (max-width: 768px) {
    .navbar-light .navbar-brand{
        font-size: 1.5rem;
    }
    #sidebar {
        width: 100%;
        margin-left: 0;
        position: absolute;
        /* z-index: 99; */
    }

    #sidebar.active {
        margin-left: -100%;
        max-width: 100%;
        width: 100%;
    }
}